body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    
}

#container {
    width: auto;
    height: auto;

}

#topo {
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;

   
}

#topo img {
    float: left;
    margin-top: 25px;

}


#topo ul {
    list-style-type: none; 

}

#topo li {
        display: inline-block;
        margin-top: 55px; 
        margin-left: 50px;
        font-weight: bold;
        font-size: 16px;
}

#topo li a {
    color: #1a1a1a;
    text-decoration: none;
}

#topo li a:hover {
    text-decoration: underline;
}

#banner {
    width: auto;
    height: auto;
    
}

#banner img {
    width: 100%;
}


#content {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

#content h2 {
    text-align: center;
    color: #de8f75;
    font-weight: 300;
    padding-top: 50px;
}

.img-destaques {
    margin-top: 35px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
}

.img-destaques a {
    text-decoration: none;

}

figcaption {
    color: #1a1a1a;
    font-size: 18px;
}

.clear-float {
    clear: both;
}

#infos {
    width: 1000px;
    height: auto;
    clear: both;
    margin: 0 auto;
    
    
}

.separacao {
    width: auto;
}

hr {
    border: 1px;
    border-color: #aeb6c1;
    width: 100%;
    border-style:solid;
    margin-top: 100px;
}

.icones {
    width: 40px;
    height: auto;
    float: left;
    margin-right: 25px;
    margin-top: 60px;
    
}

.menu-info {
    float: left;
    text-align: left;
}

.menu-info h2 {
    color: #aeb6c1;
    font-size: 18px;
    font-weight: bold;
}

.menu-info ul {
    list-style-type: none;
}

.menu-info li {
    margin-top: 20px;
    font-size: 16px;
    color: #1a1a1a;
}

.menu-info a {
    text-decoration: none;
}

.menu-info a:hover {
    text-decoration: underline;
}

#rodape {
    width: 100%;
    height: 80px;
    background-color: #de8f75;
    margin-top: 70px;
    
}

#rodape p {
    font-size: 14px;
    color: #f8f8f8;
    text-align: left;
    width: 1000px;
    margin: 0 auto;
}